/* Write your styles here */
h1{
   font-size: 60px;
   color: #c78b36;
   text-align: center; 
}
.des{
    line-height: 25px;
    text-align:center;
    width: 43%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: -30px;

}
#container{
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: -10px;
}
#container> div{
width: 32%;
margin: auto;
text-align: center;
}
#container img{
    width: 100%;
}
h2 + p{
   color: #fdb249;;
   
}