.main {
	background-color: rgb(253, 244, 244);
	width: 60%;
	margin: auto;
	height: 500px;
	gap: 10px;
}
.MemberHeading {
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;

}
.root {
	display: flex;
    justify-content: center;
    gap: 15px;
}
#btn {
    border: 0;
    background-color: transparent;
}
#btn:focus {
    border: 1px solid black;
}

.memberImg {
	height: 130px;
	width: 120px;
}

.imgOuter {

    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    height: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}


.browsePlansWhite {
    width: 60%;
    background-color: rgb(243, 243, 243);
    position: fixed;
    bottom: 0;
    /* background-color: transparent; */
    display: flex;
    justify-content: center;
    border-radius: 15px 15px 0px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 10000000;

}
.browsePlanRoot {
    background-color: #5D1241;
    color: rgb(241, 241, 241);
    text-align: center;
    width: 100%;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
}

.browsePlanText {
    font-weight: bold;
}
.browsePlanStarting {
    font-size: 14px;
    color: rgb(214, 214, 214);
}

.indianPlan {
    font-weight: bold;
    font-size: 19px;
    color: #333;
    letter-spacing: 1px;
    padding-top: 10px;
}

.cities {
   color: #666666;
   padding-top: 6px;
}

.amount {
    font-weight: bold;
    font-size: 20px;
    padding-top: 4px;

}
.discount {
    padding-top: 4px;
    color: #5D1241;
    font-weight: 600;
}